{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div style="margin-top: 10px;" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div style="margin-top: 25px;" class="col shadow bg-body rounded card">
                <div class="card-body">
                    {% if app.user %}
                        <div class="text-center mb-3 shadow bg-body rounded card">
                            You are logged in as {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <form style="margin-bottom: 15px;" method="post">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
                        <hr>
                        <label style="margin-top: 10px;" for="inputEmail">Email</label>
                        <input style="margin-top: 5px;" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label style="margin-top: 10px;" for="inputPassword">Password</label>
                        <input style="margin-top: 5px;" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button style="margin-top: 25px;" class="btn btn-sm btn-success" type="submit">Sign in</button>
                        </div>
                    </form>
                    <small class="text-muted">Need an account? <a class="ml-2" href="{{ path('app_register') }}">Join now</a></small>

                </div>
                
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

